<nav class="navbar bg-light">
  <form class="container-fluid">
    <div class="input-group">
      <span class="input-group-text" id="basic-addon1">@</span>
      <input type="text" class="form-control" placeholder="Enter GitHub login" aria-label="Username" aria-describedby="basic-addon1">
    </div>
  </form>
</nav>